/*V003 - text post: split imgs out of bubbles*/
html{
    margin:0;
    padding:0;
}
body {

    width:416px;
    /* margin:8px auto; */
    margin-left: auto;
    margin-right: auto;

    margin-bottom:0;
    padding:0 8px!important;
    font:13px/17px Arial;
    border:1px solid #ccc;
    border-width:0 1px;
    margin-top:0px!important;
}

.preloader{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

a {color:inherit;}

article.post {
    margin:10px 0;
    overflow:hidden;
}
article.post.b--grade {
    margin-left:100px;
}
article.post.stuka {
    margin-right:100px;
}

article.post .bubble {
    display:inline-block;
    padding:8px;
    border-radius:8px;
    background:#ccc;
}
article.post.stuka .bubble
    {background-color: #FEF49C; color: #804000;}
article.post.b--grade .bubble
    {background:#F7C8D2; color:#005F44;
        float:right; 
    }

.post-content img {
    display:block; 
    max-width:100%; height:auto;
    border-radius:8px;
    margin:1px 0;
}
.post-content .img-box{
    clear:both; overflow:hidden;
}
.b--grade .post-content img{
    margin-left:auto;
}

.post-content .title {
    display:inline;
    font-size:inherit;
    text-decoration:underline;
}
.post-content p:first-child {margin-top:0}
.post-content p:last-child {margin-bottom:0}

.chat .post-content ul {
    padding:0; margin:0;
}
.chat .post-content li {
    list-style:none
}

/* remove underlined on post titles */
.post-content .title{
    text-decoration:none;
}

/* post column background */
#page{
 opacity:0;
 background-color:#DBE2EC;
 padding: 10px; /* quick fix */
}

/* header .chat-status */
.chat-status{
    color: #A5A5A5;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin: 0;    
}
.chat-status span{
    font-weight:normal;
}

/*.answer_form_container {display:none;}*/